.section-title {
  text-align: center;
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 4px;
}

.blog-page {
  margin-top: 40px;
}

/* responsive  */

@media (max-width: 768px) {
  .blogs .blog-list {
    grid-template-columns: 1fr;
  }

  .policy .policy-list {
    flex-direction: column;
  }
}
